<div class="clip-art">
  <div class="container">
    <div class="row">
      <div class="col-6 p-5">
        <h1>Request a Proposal from Ignite Social Media</h1>
        <div class="elementor-widget-container">
          <a itemprop="url" href="#form" target="_self" class="qbutton  default">Get Started</a>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <h2 class="elementor-heading-title elementor-size-default">Leading brands consistently choose to partner with The
      Original Social Media Agency®</h2>
    <div class="elementor-widget-container">
      Please take a few moments to review the information below and complete the form to help us further understand your
      organization’s needs. If we believe there’s a mutual fit, we’ll follow up with you to schedule a discovery call
      with key members of your team. </div>
  </div>
</div>

<div class="container my-5">
  <h4>How We Can Help Your Brand</h4>
  <div class="row">
    <div class="col-2">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/wgkjwucf.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:125px;height:125px">
        </lord-icon>
      </div>
    </div>
    <div class="col-10">
      <h4>Step 1: Contact Us</h4>
      <div class="elementor-widget-container">
        Connect with our team by completing the contact us form on this page.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/ltxkhbfa.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:125px;height:125px">
        </lord-icon>
      </div>
    </div>
    <div class="col-10">
      <h4>Step 2: Discovery Call</h4>
      <div class="elementor-widget-container">
        Once we’re aligned with your needs, we’ll have an open discussion about how we can support your brand as well as
        answer any of your questions.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/puvaffet.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:125px;height:125px">
        </lord-icon>
      </div>
    </div>
    <div class="col-10">
      <h4>Step 3: Proposal Development</h4>
      <div class="elementor-widget-container">
        If we’ve determined we’re a good fit after our Discovery Call, we’ll get straight to work strategizing and
        developing a customized proposal for your team to review.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:125px;height:125px">
        </lord-icon>
      </div>
    </div>
    <div class="col-10">
      <h4>Step 4: Proposal Review</h4>
      <div class="elementor-widget-container">
        Finally, let’s get back on the phone and review the proposal together.
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <h4>Tell Us About Your Current Situation</h4>
  <div class="row">
    <div class="col-6">
      <label id="label-firstname-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class="" placeholder="Enter your First Name"
        for="firstname-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>First Name</span><span
          class="hs-form-required">*</span>
      </label>
      <div class="input">
        <input id="firstname-ad6b0329-fd77-440e-9aa2-dc21bf51881a" name="firstname" required="" placeholder=""
          type="text" class="hs-input invalid error" inputmode="text" autocomplete="given-name" value="">
      </div>
      <hr>
    </div>
    <div class="col-6">
      <label id="label-lastname-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class="" placeholder="Enter your Last Name"
        for="lastname-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>Last Name</span><span
          class="hs-form-required">*</span>
      </label>
      <div class="input">
        <input id="lastname-ad6b0329-fd77-440e-9aa2-dc21bf51881a" name="lastname" required="" placeholder="" type="text"
          class="hs-input" inputmode="text" autocomplete="family-name" value="">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label id="label-company-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class="" placeholder="Enter your Company Name"
        for="company-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>Company Name</span><span
          class="hs-form-required">*</span>
      </label>
      <div class="input">
        <input id="company-ad6b0329-fd77-440e-9aa2-dc21bf51881a" name="company" required="" placeholder="" type="text"
          class="hs-input" inputmode="text" autocomplete="organization" value="">
      </div>
      <hr>
    </div>
    <div class="col-6">
      <label id="label-jobtitle-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class="" placeholder="Enter your Job Title"
        for="jobtitle-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>Job Title</span><span
          class="hs-form-required">*</span>
      </label>
      <div class="input">
        <input id="jobtitle-ad6b0329-fd77-440e-9aa2-dc21bf51881a" name="jobtitle" required="" placeholder="" type="text"
          class="hs-input" inputmode="text" autocomplete="organization-title" value="">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label id="label-email-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class="" placeholder="Enter your Email"
        for="email-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>Email</span><span class="hs-form-required">*</span>
      </label>
      <div class="input">
        <input id="email-ad6b0329-fd77-440e-9aa2-dc21bf51881a" name="email" required="" placeholder="" type="email"
          class="hs-input" inputmode="email" autocomplete="email" value="">
      </div>
      <hr>
    </div>
    <div class="col-6">
      <label id="label-phone-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class="" placeholder="Enter your Phone Number"
        for="phone-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>Phone Number</span>
      </label>
      <div class="input">
        <input id="phone-ad6b0329-fd77-440e-9aa2-dc21bf51881a" name="phone" placeholder="" type="tel" class="hs-input"
          inputmode="tel" autocomplete="tel" value="">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label id="label-website-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class="" placeholder="Enter your Website URL"
        for="website-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>Website URL</span><span
          class="hs-form-required">*</span>
      </label>
      <div class="input">
        <input id="website-ad6b0329-fd77-440e-9aa2-dc21bf51881a" name="website" required="" placeholder="" type="text"
          class="hs-input invalid error" inputmode="url" value="">
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label id="label-do_you_have_an_rfp_rfi_-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class=""
        placeholder="Enter your Do You Have an RFP/RFI?"
        for="do_you_have_an_rfp_rfi_-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>Do You Have an RFP/RFI?</span><span
          class="hs-form-required">*</span>
      </label>
      <div class="input">
        <select id="do_you_have_an_rfp_rfi_-ad6b0329-fd77-440e-9aa2-dc21bf51881a" required=""
          class="hs-input is-placeholder" name="do_you_have_an_rfp_rfi_">
          <option value="1">Please Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label id="label-message-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class=""
        placeholder="Enter your Is there any additional information you'd like to share with our team?"
        for="message-ad6b0329-fd77-440e-9aa2-dc21bf51881a"><span>Is there any additional information you'd like to share
          with our team?</span>
      </label>
      <div class="input">
        <textarea id="message-ad6b0329-fd77-440e-9aa2-dc21bf51881a" class="hs-input hs-fieldtype-textarea"
          name="message" placeholder=""></textarea>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="actions"><input type="submit" class="hs-button primary large" value="Submit"></div>
  </div>
</div>

<div class="row bg-success text-light">
  <div class="col-4">
    <div class="column_inner">
      <div id="text-3" class="widget widget_text">
        <h5>We’re in North Carolina</h5>
        <div class="textwidget">
          <p>4000 Centregreen Way, #150<br>
            Cary, NC 27513<br>
            <strong>Phone: </strong><a href="tel:919-653-2345"><strong>919-653-2345</strong></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="column_inner">
      <div id="text-2" class="widget widget_text">
        <h5>We’re in Michigan</h5>
        <div class="textwidget">
          <p>280 Daines Street, #200<br>
            Birmingham, MI 48009<br>
            <strong>Phone: <a href="tel:+919-653-2345">919-653-2345</a></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div id="nav_menu-3" class="widget widget_nav_menu">
      <h5>Connect</h5>
      <div class="menu-ignitefootermenu-container">
        <ul id="menu-ignitefootermenu" class="menu">
          <li id="menu-item-856" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-856"><a
              href="/about/">About</a></li>
          <li id="menu-item-857" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-857"><a
              href="/clients/">Clients</a></li>
          <li id="menu-item-858"
            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-858"><a
              href="/services/" aria-current="page">Services</a></li>
          <li id="menu-item-860" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-860"><a
              href="#">Blog</a></li>
          <li id="menu-item-56658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56658"><a
              href="/careers/">Careers</a></li>
          <li id="menu-item-56657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56657"><a
              href="/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row bg-danger text-light">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="column_inner">
          <div class="footer_bottom">
            <img width="129" height="80"
              src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/Ignite-Logo-2015-129x80-1.png"
              class="image wp-image-590  attachment-full size-full" alt="Ignite Social Media" decoding="async"
              loading="lazy" style="max-width: 100%; height: auto;">
          </div>
        </div>
      </div>
      <div class="col-4">
        <p>©2023 Ignite Social Media | <a href="https://www.ignitesocialmedia.com/privacy-policy/">Privacy Policy</a>
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
