<div class="clip-art">
  <div class="container">
    <div class="row">
      <div class="col-6 p-5 d-flex justify-content-center align-items-center flex-column">
        <h1 class="text-center">We Are Ignite Social Media </h1>
        <div class="elementor-widget-container">
          <a itemprop="url" href="request-proposal" target="_self" class="qbutton  default">Request A Proposal</a>
        </div>
        <div class="col-6">
          <div class="elementor-widget-wrap">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-6">
      <div class="elementor-element elementor-element-2f89c3af elementor-widget elementor-widget-text-editor"
        data-id="2f89c3af" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
          <h1>Why Partner With Ignite Social Media</h1>
        </div>
      </div>
      <div class="elementor-element elementor-element-2a429e16 redtext elementor-widget elementor-widget-text-editor"
        data-id="2a429e16" data-element_type="widget" data-widget_type="text-editor.default">
        <div class="elementor-widget-container">
          <h5>The best brands have trusted Ignite Social Media since our inception in 2007.</h5>
        </div>
      </div>
      <div class="elementor-widget-container">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p>We’ve watched trends come and go, and created some industry practices that are now widespread. We’re
              still leading the way, including as Social Media Agency of the Year in 2016.</p>
          </div>
        </div>
        <div class="separator  transparent   ">&nbsp;</div>
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p>Whatever help your brand needs in social media, we’ve got the expertise and relevant experience: from
              content creation to community management, influencer relations to promotions, strategy to reporting, media
              buying to data analytics.</p>
          </div>
        </div>
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p>At Ignite Social Media, we focus on driving measurable results from social media. Take a look at some of
              our <a href="https://www.ignitesocialmedia.com/case-studies/">case studies</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 bg-warning">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-55a91696 whitetext elementor-widget elementor-widget-text-editor"
          data-id="55a91696" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
            <h1>We’re first in social. We’re only social. We’re Ignite Social Media.</h1>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-7a251cab whitetext elementor-widget elementor-widget-text-editor"
          data-id="7a251cab" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
            <p>In a world where every marketing services company says they “do” social media, Ignite Social Media leads
              the way, with a team of dozens of full-time staff. We work around the world from our offices in North
              Carolina and Michigan, providing our <a href="https://www.ignitesocialmedia.com/clients/">clients</a> with
              a depth of knowledge that is unmatched.</p>
            <p>Ignite Social Media is also certified as a Women’s Business Enterprise by the Women’s Business Enterprise
              National Council (WBENC), the nation’s largest third-party certifier of the businesses owned and operated
              by women in the United States. We recognize the commitment to supplier diversity that is embraced by
              corporations and government today, and our focus on representing a diverse set of backgrounds and
              experiences can help your digital marketing campaigns</p>
            <p>Our leadership team has been together for more than 7 years; social media pioneers focused on growth for
              our&nbsp;clients.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <img
      onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
      decoding="async" width="1024" height="128"
      src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/awards1-1024x128.png"
      class="attachment-large size-large wp-image-862" alt="" loading="lazy"
      srcset="https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/awards1-1024x128.png 1024w, https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/awards1-300x38.png 300w, https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/awards1-768x96.png 768w, https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/awards1-1536x192.png 1536w, https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/awards1-700x88.png 700w, https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/awards1.png 1800w"
      sizes="(max-width: 1024px) 100vw, 1024px">
  </div>
</div>

<div class="container my-5">
  <div class="row text-center">
    <h2>Meet the Ignite Team</h2>
  </div>
  <div class="row my-5">
    <div class="col-3">
      <figure>
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          loading="lazy" width="265" height="265"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/Jim-Edited.jpg"
          class="attachment-awsm_team size-awsm_team wp-post-image" alt="" decoding="async">
        <figcaption class="awsm-figcaption">
          <div class="awsm-personal-info">
            <h3>Jim Tobin</h3><span>CEO Ignite Social Media/President Carusele</span>
          </div>
          <div class="awsm-contact-info">
            <p>Also Founder of Carusele. Author of 2 books. Mom's impressed that I show up on Google.</p>
            <div class="awsm-social-icons"><span><a href="https://www.facebook.com/jim.tobin1" target="_blank"><i
                    class="awsm-icon-facebook" aria-hidden="true"></i></a></span><span><a
                  href="https://www.twitter.com/jtobin" target="_blank"><i class="awsm-icon-twitter"
                    aria-hidden="true"></i></a></span><span><a href="http://www.linkedin.com/in/tobinjim/en"
                  target="_blank"><i class="awsm-icon-linkedin" aria-hidden="true"></i></a></span></div>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-3">
      <figure>
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          width="265" height="265"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/DB-Edited-scaled-1.jpg"
          class="attachment-awsm_team size-awsm_team wp-post-image" alt="" decoding="async" loading="lazy">
        <figcaption class="awsm-figcaption">
          <div class="awsm-personal-info">
            <h3>Deidre Bounds</h3><span>President</span>
          </div>
          <div class="awsm-contact-info">
            <p>Guru of all things operational. Life-long supporter of Detroit. Music Lover.</p>
            <div class="awsm-social-icons"><span><a href="https://www.facebook.com/deidre.bounds" target="_blank"><i
                    class="awsm-icon-facebook" aria-hidden="true"></i></a></span><span><a
                  href="https://twitter.com/deebounds" target="_blank"><i class="awsm-icon-twitter"
                    aria-hidden="true"></i></a></span><span><a
                  href="https://www.linkedin.com/in/deidre-lambert-bounds-a96a9b3/" target="_blank"><i
                    class="awsm-icon-linkedin" aria-hidden="true"></i></a></span></div>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-3">
      <figure>
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          width="265" height="265"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/11891031_10153669375823690_3284466941668976867_n.jpg"
          class="attachment-awsm_team size-awsm_team wp-post-image" alt="" decoding="async" loading="lazy">
        <figcaption class="awsm-figcaption">
          <div class="awsm-personal-info">
            <h3>Marcie Brogan</h3><span>CFO</span>
          </div>
          <div class="awsm-contact-info">
            <div class="awsm-social-icons"><span><a href="https://www.facebook.com/MarcieBrogan" target="_blank"><i
                    class="awsm-icon-facebook" aria-hidden="true"></i></a></span><span><a
                  href="https://www.linkedin.com/pub/marcie-brogan/5/830/213" target="_blank"><i
                    class="awsm-icon-linkedin" aria-hidden="true"></i></a></span></div>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-3">
      <figure>
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          width="265" height="265"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/Lisa-Edited-scaled-1.jpg"
          class="attachment-awsm_team size-awsm_team wp-post-image" alt="" decoding="async" loading="lazy">
        <figcaption class="awsm-figcaption">
          <div class="awsm-personal-info">
            <h3>Lisa Braziel</h3><span>Senior Vice President</span>
          </div>
          <div class="awsm-contact-info">
            <p>I love barbeque, sweet tea, spending time outside, and chasing and tickling my children.</p>
            <div class="awsm-social-icons"><span><a href="https://www.facebook.com/lisabraziel" target="_blank"><i
                    class="awsm-icon-facebook" aria-hidden="true"></i></a></span><span><a
                  href="http://www.linkedin.com/in/lisabraziel/" target="_blank"><i class="awsm-icon-linkedin"
                    aria-hidden="true"></i></a></span></div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <figure>
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          width="265" height="265"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2022/07/Corporate-Profile-500x500.png"
          class="attachment-awsm_team size-awsm_team wp-post-image" alt="Jorge Gonzales" decoding="async"
          loading="lazy">
        <figcaption class="awsm-figcaption">
          <div class="awsm-personal-info">
            <h3>Jorge Gonzales</h3><span>Production Coordinator</span>
          </div>
          <div class="awsm-contact-info">
            <p>Basketball | Dogs | 9gag | Memes
            </p>
            <div class="awsm-social-icons"><span><a href="https://www.linkedin.com/in/jorge617/" target="_blank"><i
                    class="awsm-icon-linkedin" aria-hidden="true"></i></a></span></div>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-3">
      <figure>
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          width="265" height="265" src="https://www.ignitesocialmedia.com/wp-content/uploads/2022/05/kate-500x500.png"
          class="attachment-awsm_team size-awsm_team wp-post-image" alt="Kate Pauline" decoding="async" loading="lazy">
        <figcaption class="awsm-figcaption">
          <div class="awsm-personal-info">
            <h3>Kate Pauline</h3><span>Enterprise Marketing Manager</span>
          </div>
          <div class="awsm-contact-info">
            <p>Mom, social media geek, and a writer with 7 years of solid experience in Digital Content Marketing.</p>
            <div class="awsm-social-icons"><span><a
                  href="https://www.linkedin.com/in/kate-pauline-galagnara-22bb5b126/%20" target="_blank"><i
                    class="awsm-icon-linkedin" aria-hidden="true"></i></a></span><span><a
                  href="https://www.instagram.com/katepaulinee/%20" target="_blank"><i class="awsm-icon-instagram"
                    aria-hidden="true"></i></a></span><span><a href="https://www.katepauline.com/" target="_blank"><i
                    class="awsm-icon-wordpress" aria-hidden="true"></i></a></span></div>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-3">
      <figure>
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          width="265" height="265"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/pauline-headshot.jpg"
          class="attachment-awsm_team size-awsm_team wp-post-image" alt="" decoding="async" loading="lazy">
        <figcaption class="awsm-figcaption">
          <div class="awsm-personal-info">
            <h3>Pauline Santos</h3><span>Executive Assistant</span>
          </div>
          <div class="awsm-contact-info">
            <p>Wifey | Mompreneur | Cat Mom | Clean home freak | Chef wanna-be | Orophile</p>
          </div>
        </figcaption>
      </figure>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="row bg-success text-light">
  <div class="col-4">
    <div class="column_inner">
      <div id="text-3" class="widget widget_text">
        <h5>We’re in North Carolina</h5>
        <div class="textwidget">
          <p>4000 Centregreen Way, #150<br>
            Cary, NC 27513<br>
            <strong>Phone: </strong><a href="tel:919-653-2345"><strong>919-653-2345</strong></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="column_inner">
      <div id="text-2" class="widget widget_text">
        <h5>We’re in Michigan</h5>
        <div class="textwidget">
          <p>280 Daines Street, #200<br>
            Birmingham, MI 48009<br>
            <strong>Phone: <a href="tel:+919-653-2345">919-653-2345</a></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div id="nav_menu-3" class="widget widget_nav_menu">
      <h5>Connect</h5>
      <div class="menu-ignitefootermenu-container">
        <ul id="menu-ignitefootermenu" class="menu">
          <li id="menu-item-856" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-856"><a
              href="/about/">About</a></li>
          <li id="menu-item-857" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-857"><a
              href="/clients/">Clients</a></li>
          <li id="menu-item-858"
            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-858"><a
              href="/services/" aria-current="page">Services</a></li>
          <li id="menu-item-860" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-860"><a
              href="#">Blog</a></li>
          <li id="menu-item-56658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56658"><a
              href="/careers/">Careers</a></li>
          <li id="menu-item-56657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56657"><a
              href="/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row bg-danger text-light">
  <div class="col-4">
    <div class="column_inner">
      <div class="footer_bottom">
        <img width="129" height="80"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/Ignite-Logo-2015-129x80-1.png"
          class="image wp-image-590  attachment-full size-full" alt="Ignite Social Media" decoding="async"
          loading="lazy" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </div>
  <div class="col-4">
    <p>©2023 Ignite Social Media | <a href="https://www.ignitesocialmedia.com/privacy-policy/">Privacy Policy</a></p>
  </div>
  <div class="col-4"></div>
</div>
