<div class="container con average">
  <div class="arrow-container">
    <img class="arr_left" src="../../../assets/Images/arrow_Left.png" type="button" (click)="previousParagraph()">
  </div>
  <ng-container *ngIf="currIndex === 0">
    <div class="text-center paragraph-container">
      <img src="../../../assets/Images/ignite.png" alt="Image 1" class="background-image">
      <div class="home-p-anim">
        <p class="paragraph-content">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis amet maiores quaerat mollitia consequatur,
          suscipit quos quidem magnam similique aspernatur consectetur eius officia, nobis cumque earum praesentium,
          quia vel minus!
        </p>
        <a class="slide-button" href="request-proposal" type="button">Request a
          Proposal</a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="currIndex === 1">
    <img src="../../../assets/Images/ignite_social_media.jpeg" class="responsive-image"
      style="width: 100%; height: 100%">
  </ng-container>
  <ng-container *ngIf="currIndex === 2">
    <div class="text-center paragraph-container">
      <img src="../../../assets/Images/nature.jpeg" class="background-image responsive-image">
      <div class="home-p-anim">
        <p class="paragraph-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ab, molestiae magnam aliquam saepe optio ad
          accusantium pariatur vero voluptas veritatis obcaecati amet ipsam laboriosam. Quisquam nulla architecto quo
          facere.
        </p>
        <a class="slide-button" routerLink="/download-capability" type="button">Download our Capabilities Deck</a>
      </div>
    </div>
  </ng-container>
  <img class="arr_right" src="../../../assets/Images/arr_right.png" type="button" (click)="nextParagraph()">
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-6 average"
      style="color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; margin-top: 8px; margin-bottom: 8px;">
      <h1
        style="color: #000000; font-family: 'Fira Sans', sans-serif; font-size: 45px; line-height: 56px; font-style: normal; font-weight: 600; letter-spacing: 0px; text-transform: none;"
        [ngClass]="{'small-text': isSmallScreen(), 'large-text': isLargeScreen()}">
        Ignite Social Media, The Original Social Media Agency®
      </h1>

      <p style="color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; margin-top: 8px; margin-bottom: 8px;"
        [ngClass]="{'small-text': isSmallScreen(), 'large-text': isLargeScreen()}">Ignite Social
        Media Marketing Agency is 16 years old and helped create the social media marketing industry through our thought
        leadership. We earned our nickname, <b>the original social media agency®, </b>as the first social-only focused
        marketing agency in the United States, and literally wrote the book on social media marketing. In addition to
        the accolades our agency has earned over the years, in 2016 we were honored the title
        <a href="https://www.ignitesocialmedia.com/announcements/ignite-social-media-wins-2016-social-agency-of-the-year/"
          style="color: orange; text-decoration: none;">Social
          Media Agency of the Year, worldwide</a>, in the Corporate Social Media Awards.
      </p>
    </div>
    <div class="col-lg-6 col-md-10 col-sm-12">
      <img class="home-i1 i1-anim responsive-image" style="vertical-align: middle;
        display: inline-block; height: auto; max-width: 100%; border: none; border-radius: 0; box-shadow: none;"
        src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/12/social-media-marketing-agency5.jpg">
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6 col-md-10 col-sm-12">
      <img class="home-i2 i2-anim responsive-image"
        src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/12/social-media-marketing-agency8-1.jpg">
    </div>
    <div class="col-lg-4 col-md-10 col-sm-12 average">
      <h1
        style="color: #000000; font-family: 'Fira Sans', sans-serif; font-size: 45px; line-height: 56px; font-style: normal; font-weight: 600; letter-spacing: 0px; text-transform: none;"
        [ngClass]="{'small-text': isSmallScreen(), 'large-text': isLargeScreen()}">
        Branding With Purpose From The Beginning
      </h1>

      <p style="color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; margin-top: 8px; margin-bottom: 8px;"
        [ngClass]="{'small-text': isSmallScreen(), 'large-text': isLargeScreen()}">
        Since day one, we’ve helped <a href="https://www.ignitesocialmedia.com/clients/"
          style="color: orange; text-decoration: none;">the world’s most valuable
          brands </a>set their social media strategy, execute on it day-to- day, and measure results. We strive to
        continue to deliver <a href="https://www.ignitesocialmedia.com/services/"
          style="color: orange; text-decoration: none;">high-quality social media marketing
          services</a> that drive real value for our clients. See for yourself the average results our clients see after
        working with our agency experts.
      </p>
      <p style="color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; margin-top: 8px; margin-bottom: 8px;"
        [ngClass]="{'small-text': isSmallScreen(), 'large-text': isLargeScreen()}">Have you been struggling to get more
        from your social media marketing? Partner with us and
        experience
        a
        dramatic increase in engagement, reach, and sales! We specialize in&nbsp;<a
          href="https://www.ignitesocialmedia.com/services/strategy/"
          style="color: orange; text-decoration: none;">social media strategy</a>, channel
        management,
        content marketing and social listening across all social media platforms. Our team has the hands-on
        experience
        and expertise to tailor your marketing strategy to get the most out of each social platform.
      </p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row average">
    <img class="home-i3 responsive-image"
      src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/11/awards1-1024x128.png">
  </div>
</div>

<div class="container-fluid">
  <div class="col">
    <div class="image-container">
      <img *ngFor="let image of images" [src]="image.src" [alt]="image.alt" (click)="openImage(image)"
        style="width: 255px; height: 265px;">
    </div>
  </div>
</div>
<div class="modal" *ngIf="selectedImage">
  <span class="close" (click)="closeModal()">&times;</span>
  <img [src]="selectedImage.src" [alt]="selectedImage.alt">
  <span class="prev" (click)="showPreviousImage()">&lt;</span>
  <span class="next" (click)="showNextImage()">&gt;</span>
</div>

<section style="height: 150px; background-color: orange; color: white; text-align:center">
  <h1 class="ave" style="padding: 40px;" [ngClass]="{'small-text': isSmallScreen(), 'large-text': isLargeScreen()}">
    We're Trusted by
    the Best</h1>
</section>

<div class="container my-5">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/logo_0016_Daisybrand.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/logo_0010_ESTEELAUDER.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/logo_0011_Orchardssupply.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/logo_0016_Daisybrand.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/MI-Apples.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/OBX-1.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/Sunbrella.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/good_0002_lowes.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/good_0044_Jared-1.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/MI-Apples.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/OBX-1.jpg">
      </div>
      <div class="swiper-slide">
        <img
          onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/Sunbrella.jpg">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<div class="container co h-100 d-flex flex-column" style="padding: 5px;">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <h1 class="average" [ngClass]="{'small-text': isSmallScreen(), 'large-text': isLargeScreen()}">
        We make the client the hero of our story.
      </h1>
      <h6
        style="box-sizing: border-box; color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; letter-spacing: 0px; text-transform: none;"
        class="my-3 text average">Since day one, we’ve helped <a href="https://www.ignitesocialmedia.com/clients/"
          style="color: orange; text-decoration: none;">the world’s
          most
          <br>
          valuable
          brands </a>set their social media strategy, <br> execute on it day-to-day, and measure results. <br> We
        strive
        to
        continue to deliver high-quality <br> social media marketing services that drive real <br> value for our
        clients. See for
        yourself the <br> average results our clients see after working <br> with our agency experts.
      </h6>

      <div>
        <a href="https://www.ignitesocialmedia.com/request-a-proposal/" type="button"
          style="display: inline-block; padding: 10px 20px; font-size: 16px; text-align: center; text-decoration: none; background-color: #F5A714; color: #fff; border-radius: 50px; transition: background-color 0.3s;">
          See How We Can Help You
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 my-5 average">
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6601adc"
        data-id="6601adc" data-element_type="column">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-86b4d4a elementor-widget elementor-widget-text-editor"
            data-id="86b4d4a" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
              <h5>After Social Media Strategy Implementation</h5>
            </div>
            <br>
          </div>
          <div class="elementor-element elementor-element-5f11a88 elementor-widget elementor-widget-bridge_progress_bar"
            data-id="5f11a88" data-element_type="widget" data-widget_type="bridge_progress_bar.default">
            <div class="elementor-widget-container">
              <div class="q_progress_bar">
                <h5 class="progress_title_holder clearfix"><span
                    class="progress_title"><span>Impressions</span></span><span class="progress_number"
                    style="color: #F5A714;font-size: 18px; float: right;"><span>57</span>%</span></h5>
                <div class="progress_content_outer" style="height: 5px;background-color: #e9e9e9;">
                  <div data-percentage="57" class="progress_content"
                    style="height: 5px; width: 57%; background-color: rgb(245, 167, 20);">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="elementor-element elementor-element-a726b1f elementor-widget elementor-widget-text-editor"
            data-id="a726b1f" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
              <p>Average client increase</p>
            </div>
          </div>
          <div class="elementor-element elementor-element-f68ff82 elementor-widget elementor-widget-bridge_progress_bar"
            data-id="f68ff82" data-element_type="widget" data-widget_type="bridge_progress_bar.default">
            <div class="elementor-widget-container">
              <div class="q_progress_bar">
                <h5 class="progress_title_holder clearfix"><span
                    class="progress_title"><span>Engagements</span></span><span class="progress_number"
                    style="color: #CD1133;font-size: 18px; float: right;"><span>132</span>%</span></h5>
                <div class="progress_content_outer" style="height: 5px;background-color: #e9e9e9;">
                  <div data-percentage="132" class="progress_content"
                    style="height: 5px; background-color: rgb(205, 17, 51); width: 132%;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="elementor-element elementor-element-6437ebc elementor-widget elementor-widget-text-editor"
            data-id="6437ebc" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
              <p>Average client increase</p>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-9064011 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
            data-id="9064011" data-element_type="widget" data-widget_type="divider.default">
          </div>
        </div>
        <div class="elementor-element elementor-element-a618aa8 elementor-widget elementor-widget-text-editor"
          data-id="a618aa8" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
            <br>
            <hr>
            <br>
            <h5>After Taking Over Content Development</h5>
            <br>
          </div>
        </div>
        <div class="elementor-element elementor-element-2fa8458 elementor-widget elementor-widget-bridge_progress_bar"
          data-id="2fa8458" data-element_type="widget" data-widget_type="bridge_progress_bar.default">
          <div class="elementor-widget-container">
            <div class="q_progress_bar">
              <h5 class="progress_title_holder clearfix"><span class="progress_title"><span>Click-Through
                    Rate</span></span><span class="progress_number"
                  style="color: #F5A714;font-size: 18px; float: right;"><span>170</span>%</span></h5>
              <div class="progress_content_outer" style="height: 5px;background-color: #e9e9e9;">
                <div data-percentage="170" class="progress_content"
                  style="height: 5px; width: 170%; background-color: rgb(245, 167, 20)"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-69d6af9 elementor-widget elementor-widget-text-editor"
          data-id="69d6af9" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
            <p>Average client increase</p>
          </div>
        </div>
        <div class="elementor-element elementor-element-8a6d74d elementor-widget elementor-widget-bridge_progress_bar"
          data-id="8a6d74d" data-element_type="widget" data-widget_type="bridge_progress_bar.default">
          <div class="elementor-widget-container">
            <div class="q_progress_bar">
              <h5 class="progress_title_holder clearfix"><span class="progress_title"><span>Engagement
                    Rate</span></span><span class="progress_number"
                  style="color: #CD1133;font-size: 18px; float: right;"><span>40</span>%</span></h5>
              <div class="progress_content_outer" style="height: 5px;background-color: #e9e9e9;">
                <div data-percentage="40" class="progress_content"
                  style="height: 5px; background-color: rgb(205, 17, 51); width: 40%;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-0207540 elementor-widget elementor-widget-text-editor"
          data-id="0207540" data-element_type="widget" data-widget_type="text-editor.default">
          <div class="elementor-widget-container">
            <p>Average client increase</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="clip-art-2 h-100 d-flex flex-column"> -->
<div class="conti h-100 d-flex flex-column">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12 i2-anim">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <img class="l-i-img"
              onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
              src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/icon-development.png" alt="">
          </div>
          <div class="col">
            <div class="icon_text_inner">
              <h5 class="icon_title">Social Strategy Development</h5>
              <p
                style="box-sizing: border-box; color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; letter-spacing: 0px; text-transform: none;">
                The most expensive mistake a brand can make in <br> social media is launching
                channels or programs <br>
                without a strategy. We invented the Community <br> Analysis and Engagement Plan and have developed
                <br>
                over 100 brand strategies.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-12 i1-anim">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <img class="l-i-img"
              onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
              src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/icon-content.png" alt="">
          </div>
          <div class="col">
            <div class="icon_text_inner">
              <h5 class="icon_title">Content Creation</h5>
              <p
                style="box-sizing: border-box; color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; letter-spacing: 0px; text-transform: none;">
                Social media success comes to brands that have <br> something to say, and know how to say it best.
                <br>
                From
                blogs to Instagram, Snaps to Facebook Live <br> broadcasts, our in-house team creates content that
                <br>
                drives
                business results.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-lg-6 col-md-8 col-sm-12 i2-anim">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <img class="l-i-img"
              onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
              decoding="async" itemprop="image"
              src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/icon-community.png" alt="">
          </div>
          <div class="col">
            <div class="icon_text_holder">
              <div class="icon_text_inner">
                <h5 class="icon_title">Community Management</h5>
                <p
                  style="box-sizing: border-box; color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; letter-spacing: 0px; text-transform: none;">
                  Your customers, fans and prospects expect a reply <br> when they contact you on social. Our team
                  builds <br>
                  relationships for leading brands daily, at night and <br> on weekends. With detailed escalation
                  paths,
                  we
                  <br>
                  protect
                  and represent your brand professionally.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-12 i1-anim">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <img class="l-i-img"
              onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
              decoding="async" itemprop="image"
              src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/icon-influencer.png" alt="">
          </div>
          <div class="col">
            <div class="icon_text_inner">
              <h5 class="icon_title">Influencer Management</h5>
              <p
                style="box-sizing: border-box; color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; letter-spacing: 0px; text-transform: none;">
                We started working with influencers in 2008 and <br> have seen the industry evolve quickly. We have
                <br>
                cultivated thousands of relationships and ensure <br> all of our programs comply with FTC guidelines
                as
                <br>
                well as
                brand direction.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12 i2-anim">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <img class="l-i-img"
              onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
              decoding="async" itemprop="image"
              src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/icon-media.png" alt="">
          </div>
          <div class="col">
            <div class="icon_text_inner">
              <h5 class="icon_title">Media Buying</h5>
              <p
                style="box-sizing: border-box; color: #383a3d; font-family: 'Fira Sans', sans-serif; font-size: 18px; line-height: 26px; font-style: normal; font-weight: 400; letter-spacing: 0px; text-transform: none;">
                Yes, today’s social media game often requires paid media boosting. But how you boost on social is
                unusually important. Find out how our Organish® approach routinely improves our clients’ media
                efficiency 60% or more.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-12 i1-anim">
        <div class="row">
          <div class="col-lg-3 col-sm-12">
            <img class="l-i-img"
              onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
              decoding="async" itemprop="image"
              src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/icon-analytics-1.png" alt="">
          </div>
          <div class="col">
            <div class="icon_text_inner">
              <h5 class="icon_title">Reporting &amp; Analytics</h5>
              <p>Social media channels are awash in data. <br> Data is easy. Our team works with brands to figure
                out
                <br>
                what
                goals matter and then provide full reporting. <br> Even better, we uncover insights and measure the
                <br>
                ROI of our
                efforts.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid co position-relative">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <h3
        style="color: #000000;font-family: 'Fira Sans', sans-serif;font-size: 35px;line-height: 45px;font-style: normal;font-weight: 600;letter-spacing: 0px;text-transform: none;"
        class="i2-anim">Ready to learn more?<br>Check out our<br>Capabilities Deck!</h3>
      <div class="i1-anim">
        <a routerLink="/download-capability" target="_self" class="slide-button">Download
          Now</a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="../../../assets/Images/social-media.jpg" class="ph">
    </div>
  </div>
</div>

<div class="clip-art-3 h-100 d-flex flex-column" style="margin-top: 100px">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-8 col-sm-12">
        <h2>
          An ad agency bent <br> on simplicity.
        </h2>
      </div>
      <div class="col-lg-8 col-sm-12">
        <h6>As a leading social agency, we’re certified marketing partners with the major social <br> networks, giving
          our team access to a variety of in-depth tools and resources that allow us <br> to better assist our clients
          and achieve social media marketing success.
        </h6>
        <h6>
          Our expert staff has also developed over 100 award-winning social media strategies for <br> our clients and
          led our agency to the title of Social Agency of the Year in 2016 by Incite. <br>
        </h6>
        <h6>
          Leverage our data-driven approach to tap into the correct social marketing channels and <br> effectively reach
          your target audience. Cultivate long-lasting relationships through our <br> team’s expertise in social media
          management, content marketing, and influencer <br> marketing campaigns.
        </h6>
      </div>
    </div>
  </div>
</div>

<div class="clip-art-1 bg-info my-0 merge" [ngClass]="{'bg-info': isMaximized, 'bg-secondary': !isMaximized}">
  <div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="row">
      <div class="col text-center">
        <br><br><br><br><br><br><br>
        <h3>What Our Clients Have to Say</h3>
      </div>
    </div>
    <div class="row my-5">
      <div class="col text-center">
        <ng-container *ngIf="currentIndex === 0">
          <p class="text-white" style="font-size:18px;color:#FFFFFF;">The Outer Banks Visitors Bureau has been working
            with Ignite Social Media for more than two years. They ramped up on our business quickly and internalized
            what they learned. We’ve benefited immensely from their expertise and the passion they bring to the job.
            Perhaps most importantly, they’re just good people. I truly do consider Ignite to be a part of our team. I
            would recommend them without any hesitation.
          </p>
          <p class="text-secondary" style="color: #FFFFFF;font-weight: 400;color: #F5A714;font-size: 16px;">The Outer
            Banks Visitors Bureau
          </p>
        </ng-container>
        <ng-container *ngIf="currentIndex === 1">
          <p class="text-white" style="font-size:18px;color:#FFFFFF;">The team at Ignite is truly remarkable, which is
            something not often said about agencies. We work with a fantastic team that is extremely collaborative and
            consistently brings fresh ideas to the table on how we can continue to spread our mission through social.
            Not only are their ideas creative and flawlessly executed but they also have a true technical understanding
            of the various social channels and have become an extension of our brand. They’re truly dedicated to our
            success.</p>
          <p class="text-secondary" style="color: #FFFFFF;font-weight: 400;color: #F5A714;font-size: 16px;"> American
            Heart Association, Go Red for Women</p>
        </ng-container>
        <ng-container *ngIf="currentIndex === 2">
          <p class="text-white" style="font-size:18px;color:#FFFFFF;">I can’t imagine a better partner to manage our
            social media presence than the team at Ignite Social Media. Since they’ve taken over our account our fan
            base and engagement rates have grown every quarter. They consistently produce high-quality, content that our
            customers love and do a tremendous job managing our community of fans. The reports I get back are
            interesting and insightful and their expertise at managing our paid media has allowed us to do more testing
            and learning than we ever could have on our own. They’re a team that I truly trust to help shepherd us
            through the ever-changing social media landscape.</p>
          <p class="text-secondary" style="color: #FFFFFF;font-weight: 400;color: #F5A714;font-size: 16px;"> Aaron
            Kohlhoff, Senior Digital Marketing Manager</p>
        </ng-container>
      </div>
    </div>
    <div class="row my-5">
      <div class="col text-center">
        <div class="arrows">
          <img class="sImg" src="../../../assets/Images/arrow_Left.png" (click)="previousPara()" type="button">
          <img class="sImg" src="../../../assets/Images/arr_right.png" (click)="nextPara()" type="button">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row bg-dark">
  <div class="text-center">
    <img
      onerror="this.src='https://www.ignitesocialmedia.com/wp-content/plugins/replace-broken-images/images/default.jpg'"
      decoding="async" width="82" height="56"
      src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/hi_bubble.png"
      class="attachment-full size-full wp-image-738 my-5" alt="" loading="lazy">
    <h1 style="color: white">Let’s work together and create <br> something unique</h1>
    <div class="my-5">
      <input name="input_1" type="text" value="" placeholder="Your Email"
        style="border-radius: 50px; background-color: burlywood; width: 367px; height: 55px;">
      <input type="submit">
    </div>
  </div>
</div>

<div class="row bg-success text-light">
  <div class="col-12 col-md-4">
    <div class="column_inner">
      <div id="text-3" class="widget widget_text">
        <h5>We’re in North Carolina</h5>
        <div class="textwidget">
          <p>4000 Centregreen Way, #150<br>
            Cary, NC 27513<br>
            <strong>Phone: </strong><a href="tel:919-653-2345"><strong>919-653-2345</strong></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="column_inner">
      <div id="text-2" class="widget widget_text">
        <h5>We’re in Michigan</h5>
        <div class="textwidget">
          <p>280 Daines Street, #200<br>
            Birmingham, MI 48009<br>
            <strong>Phone: <a href="tel:+919-653-2345">919-653-2345</a></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div id="nav_menu-3" class="widget widget_nav_menu">
      <h5>Connect</h5>
      <div class="menu-ignitefootermenu-container">
        <ul id="menu-ignitefootermenu" class="menu">
          <li id="menu-item-856" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-856"><a
              href="/about/">About</a></li>
          <li id="menu-item-857" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-857"><a
              href="/clients/">Clients</a></li>
          <li id="menu-item-858"
            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-858"><a
              href="/services/" aria-current="page">Services</a></li>
          <li id="menu-item-860" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-860"><a
              href="#">Blog</a></li>
          <li id="menu-item-56658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56658">
            <a href="/careers/">Careers</a>
          </li>
          <li id="menu-item-56657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56657">
            <a href="/contact/">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row bg-danger text-light">
  <div class="col-4">
    <div class="column_inner">
      <div class="footer_bottom">
        <img width="129" height="80"
          src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/Ignite-Logo-2015-129x80-1.png"
          class="image wp-image-590  attachment-full size-full" alt="Ignite Social Media" decoding="async"
          loading="lazy" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </div>
  <div class="col-4">
    <p>©2023 Ignite Social Media | <a href="https://www.ignitesocialmedia.com/privacy-policy/">Privacy Policy</a>
    </p>
  </div>
  <div class="col-4"></div>
</div>
