<div class="clip-art">
  <div class="container">
    <div class="row">
      <div class="col-6 p-5">
        <!-- <img src="../../../assets/images/ignite_social_media.jpeg"> -->
        <h1>Social First. Social Only. Social Partners.</h1>
        <br><br><br>
        <p>As&nbsp;<strong>the original social media agency™</strong>,&nbsp;our agency mission has always been to change
          the
          world of marketing through social media. We’re built to deliver our clients the best in social media
          marketing.
        </p>
        <div class="elementor-widget-container">
          <a itemprop="url" href="request-proposal" target="_self" class="qbutton  default">Request A Proposal</a>
        </div>
      </div>
      <div class="col-6"></div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <h1>Ignite Social Media Marketing Services</h1>
      <br>
      <p>Whether you’re looking for a full-service agency or a-la-carte services, our business model allows us to
        support your brand in the manner that you choose. Below you’ll find a breakdown of the 12 service lines we
        provide that are proven to deliver&nbsp;<a href="https://www.ignitesocialmedia.com/case-studies/">measurable
          business results</a>.
      </p>
      <br>
      <a itemprop="url" href="https://www.ignitesocialmedia.com/capabilities-deck/" target="_self"
        class="qbutton  default">Download Our Capabilities Deck</a>
    </div>
    <div class="col-6 bg-secondary">
      <h1>Introducing Ignite Extend</h1>
      <br>
      <div class="elementor-widget-container">
        The pandemic disrupted how people get work done. That inspired us to create Ignite Extend, a new service
        offering that pairs brands with carefully vetted social media experts benefitting from Ignite-created workplans.
        The certainty of a trusted partner without the full agency treatment.
      </div>
      <br>
      <div class="elementor-widget-container">
        <a itemprop="url" href="https://www.ignitesocialmedia.com/ignite-extend/" target="_self"
          class="qbutton  default brdr"
          style="color: #F5A714; border-color: #F5A714; background-color: #02010100; border: 2px solid orange; border-radius: 50px;">Learn
          More</a>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-4">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/fszwcqom.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
        </lord-icon>
      </div>
      <h5>Social Strategy Development</h5>
      <div class="elementor-widget-container">
        Be it across the entire social media marketing mix or a small-scale plan for product launches, our team can
        develop custom roadmaps for success aligning audience, objectives, strategies, and tactics in a way that
        achieves specific, measurable results.
      </div>
      <a itemprop="url" href="/services/strategy/" target="_self" class="qbutton  small default custom-button brdr"
        style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
    </div>
    <div class="col-4">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/eeisssxp.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
        </lord-icon>
      </div>
      <h5>Community Management</h5>
      <div class="elementor-widget-container">
        Our community management team is a one-stop-shop for creating lively and engaged social media communities
        through editorial planning, monitoring and moderation, and surprise and delight campaigns.
      </div>
      <div class="elementor-widget-container">
        <a itemprop="url" href="/services/community-management/" target="_self"
          class="qbutton  small default custom-button brdr"
          style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
      </div>
    </div>
    <div class="col-4">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/dbkviqyk.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
        </lord-icon>
      </div>
      <h5>Content Development</h5>
      <div class="elementor-widget-container">
        From long-form thought leadership blogs to the latest video content on today’s hot new platform, our team of
        content producers plays at the intersection of community passions and your business goals.
      </div>
      <div class="elementor-widget-container">
        <a itemprop="url" href="/services/social-content/" target="_self"
          class="qbutton  small default custom-button brdr"
          style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/aoiusgda.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
        </lord-icon>
      </div>
      <h5>Social Media Advertising</h5>
      <div class="elementor-widget-container">
        Social media ad buying is different than any other ad buying. Our dedicated media strategists and media buyers’
        pair careful audience targeting with real-time optimization. The result? Ads that resonate with the community
        and exceed goals.
      </div>
      <div class="elementor-widget-container">
        <a itemprop="url" href="/services/paid-advertising/" target="_self"
          class="qbutton  small default custom-button brdr"
          style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
      </div>
    </div>
    <div class="col-4">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/vixtkkbk.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
        </lord-icon>
      </div>
      <h5>Influencer Marketing</h5>
      <p>With access to over 20M influencer profiles, our programs generate and syndicate authentic branded content that
        is on message while staying true to the influencers’ voice and audience interests.</p>
      <div class="elementor-widget-container">
        <a itemprop="url" href="/services/influencer-marketing/" target="_self"
          class="qbutton  small default custom-button brdr"
          style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
      </div>
    </div>
    <div class="col-4">
      <div class="elementor-widget-container">
        <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
        <lord-icon src="https://cdn.lordicon.com/urhcgqxz.json" class="lordicon-center" trigger="loop"
          colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
        </lord-icon>
      </div>
      <h5>Reporting &amp; Analytics</h5>
      <div class="elementor-widget-container">
        Our analysts do more than report on KPIs. From custom-designed reports to goal setting to focused social media
        ROI models, our team will work with yours to adapt or build assets to fit your specific business needs.
      </div>
      <a itemprop="url" href="/services/social-reporting/" target="_self"
        class="qbutton  small default custom-button brdr"
        style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="elementor-widget-container">
          <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
          <lord-icon src="https://cdn.lordicon.com/zpxybbhl.json" class="lordicon-center" trigger="loop"
            colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
          </lord-icon>
        </div>
        <h5>Consulting</h5>
        <div class="elementor-widget-container">
          Our social media experts work collaboratively with your in-house team to develop an overarching strategic
          direction and a logical measurement plan. We’re here to support you as needed over the long haul, helping you
          apply and stay accountable to your strategy.
        </div>
        <div class="elementor-widget-container">
          <a itemprop="url" href="/services/consulting-services/" target="_self"
            class="qbutton  small default custom-button brdr"
            style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
        </div>
      </div>
      <div class="col-4">
        <div class="elementor-widget-container">
          <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
          <lord-icon src="https://cdn.lordicon.com/flqcnwch.json" class="lordicon-center" trigger="loop"
            colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
          </lord-icon>
        </div>
        <h5>Promotions</h5>
        <div class="elementor-widget-container">
          Achieve your brand’s business objectives, with our social-first programs move customers through the purchase
          funnel and turn customers into fans and turn fans into advocates for your brand.
        </div>
        <a itemprop="url" href="/services/promotions/" target="_self" class="qbutton  small default custom-button brdr"
          style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
      </div>
      <div class="col-4">
        <div class="elementor-widget-container">
          <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
          <lord-icon src="https://cdn.lordicon.com/bqzyzccf.json" class="lordicon-center" trigger="loop"
            colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
          </lord-icon>
        </div>
        <h5>Crisis Management</h5>
        <div class="elementor-widget-container">
          Whether you need a pre-emptive crisis and escalation plan, a few days of strategic guidance, or just more eyes
          on your channels to handle a surge in complaints, we can quickly activate an experienced team to help you get
          through it all.
        </div>
        <div class="elementor-widget-container">
          <a itemprop="url" href="/services/crisis-management/" target="_self"
            class="qbutton  small default custom-button brdr"
            style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="elementor-widget-container">
          <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
          <lord-icon src="https://cdn.lordicon.com/hciqteio.json" class="lordicon-center" trigger="loop"
            colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
          </lord-icon>
        </div>
        <h5>Social Listening</h5>
        <div class="elementor-widget-container">
          Tap into social media insights designed to help inform your brand’s decisions on everything from marketing
          campaigns to product development and customer service practices.
        </div>
        <div class="elementor-widget-container">
          <a itemprop="url" href="/services/social-listening/" target="_self"
            class="qbutton  small default custom-button brdr"
            style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
        </div>
      </div>
      <div class="col-4">
        <div class="elementor-widget-container">
          <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
          <lord-icon src="https://cdn.lordicon.com/pciennjk.json" class="lordicon-center" trigger="loop"
            colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
          </lord-icon>
        </div>
        <h5>In-house Support</h5>
        <div class="elementor-widget-container">
          Whether you’re looking to build a social strategy, create content that converts to sales, engage with your
          brand’s community, dive into the data, or boost content through paid social media campaigns, we have the right
          resources and expertise to support your team.
        </div>
        <div class="elementor-widget-container">
          <a itemprop="url" href="/services/social-media-support/" target="_self"
            class="qbutton  small default custom-button brdr"
            style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
        </div>
      </div>
      <div class="col-4">
        <div class="elementor-widget-container">
          <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
          <lord-icon src="https://cdn.lordicon.com/rfldwidq.json" class="lordicon-center" trigger="loop"
            colors="primary:#cd1133,secondary:#f5a714" stroke="25" style="width:150px;height:150px">
          </lord-icon>
        </div>
        <h5>Content That Converts™</h5>
        <div class="elementor-widget-container">
          Our latest service model replaces the calendar-based approach to social media and is designed to drive real
          business results by tailoring content and targeting to meet your audience’s Mindset in the Moment™ at each
          stage of the purchase funnel.
        </div>
        <div class="elementor-widget-container">
          <a itemprop="url" href="/services/content-that-converts/" target="_self"
            class="qbutton  small default custom-button brdr"
            style="color: #F5A714; border-color: #F5A714; background-color: #02010100;">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <h1>Need Help With a Specific Social Platform?</h1>
    <br>
    <p>Is your social strategy struggling on a specific platform? We can help! As the original social media marketing
      agency, our team is equipped with the necessary expertise and skills to help you stay ahead of the curve on your
      social media strategy.
    </p>
    <div class="col-6">
      <ul>
        <li><a href="/services/facebook-marketing/">Facebook Marketing Agency</a></li>
        <li><a href="/services/instagram-marketing/">Instagram Marketing Agency</a></li>
        <li><a href="/services/tiktok-marketing/">TikTok Marketing Agency</a></li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li><a href="/services/linkedin-marketing/">LinkedIn Marketing Agency</a></li>
        <li><a href="/services/twitter-marketing/">Twitter Marketing Agency</a></li>
        <li><a href="/services/pinterest-marketing/">Pinterest Marketing Agency</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row bg-success text-light">
  <div class="col-4">
    <div class="column_inner">
      <div id="text-3" class="widget widget_text">
        <h5>We’re in North Carolina</h5>
        <div class="textwidget">
          <p>4000 Centregreen Way, #150<br>
            Cary, NC 27513<br>
            <strong>Phone: </strong><a href="tel:919-653-2345"><strong>919-653-2345</strong></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="column_inner">
      <div id="text-2" class="widget widget_text">
        <h5>We’re in Michigan</h5>
        <div class="textwidget">
          <p>280 Daines Street, #200<br>
            Birmingham, MI 48009<br>
            <strong>Phone: <a href="tel:+919-653-2345">919-653-2345</a></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div id="nav_menu-3" class="widget widget_nav_menu">
      <h5>Connect</h5>
      <div class="menu-ignitefootermenu-container">
        <ul id="menu-ignitefootermenu" class="menu">
          <li id="menu-item-856" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-856"><a
              href="/about/">About</a></li>
          <li id="menu-item-857" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-857"><a
              href="/clients/">Clients</a></li>
          <li id="menu-item-858"
            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-858"><a
              href="/services/" aria-current="page">Services</a></li>
          <li id="menu-item-860" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-860"><a
              href="#">Blog</a></li>
          <li id="menu-item-56658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56658"><a
              href="/careers/">Careers</a></li>
          <li id="menu-item-56657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-56657"><a
              href="/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row bg-danger text-light">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="column_inner">
          <div class="footer_bottom">
            <img width="129" height="80"
              src="https://www.ignitesocialmedia.com/wp-content/uploads/2021/10/Ignite-Logo-2015-129x80-1.png"
              class="image wp-image-590  attachment-full size-full" alt="Ignite Social Media" decoding="async"
              loading="lazy" style="max-width: 100%; height: auto;">
          </div>
        </div>
      </div>
      <div class="col-4">
        <p>©2023 Ignite Social Media | <a href="https://www.ignitesocialmedia.com/privacy-policy/">Privacy Policy</a>
        </p>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</div>
