<div class="container">
  <div class="row">
    <div class="col-6">
      <p>Read the social media blog consistently ranked among the best, brought to you by experts in the space. We don’t
        just write about social media, we live it for our <a
          href="https://www.ignitesocialmedia.com/clients/">clients</a> every day, and share the best of what we learn
        here.<strong> Keep up to date on the latest news and trends in the social space by subscribing to our newsletter
          today.</strong></p>
    </div>
    <div class="col-6">
      <form>
        <label id="label-email-34d5e551-7b9b-4f6d-ba06-6fd2779bd20d" class="" placeholder="Enter your Email"
          for="email-34d5e551-7b9b-4f6d-ba06-6fd2779bd20d"><span>Email</span><span
            class="hs-form-required">*</span></label>
        <br>
        <input id="email-34d5e551-7b9b-4f6d-ba06-6fd2779bd20d" name="email" required="" placeholder="" type="email"
          class="hs-input" inputmode="email" autocomplete="email" value="">
      </form>
      <div class="row my-5">
        <div class="actions"><input type="submit" class="hs-button primary large" value="Subscribe Now!"></div>
      </div>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-3">
    <a itemprop="url" href="https://www.ignitesocialmedia.com/opinions/womens-month-2023/" target="_self"
      title="Creating Equity for Women in the Workplace: Ways to Support Women&nbsp;&nbsp;">Creating Equity for Women in
      the Workplace: Ways to Support Women&nbsp;&nbsp;</a>
  </div>
  <div class="col-3"></div>
  <div class="col-3"></div>
  <div class="col-3"></div>
</div>
