/* You can add global styles to this file, and also import other style files */

* {
  overflow-x: clip;
  margin: 0;
  padding: 0;
}

// NAVBAR

.services:hover>.dropdown-menu {
  display: block;
  margin-top: .125em;
  top: 96px;
}

.navbar {
  height: 100px;

  .navbar-toggler {
    width: 200px;
    background-color: orange;
  }

  .navbar-toggler-icon {
    color: white;
  }
}

// .fa {
//   background-color: orange;
//   border-radius: 50px;
//   height: 30px;
//   width: 30px;
//   text-align: center;
//   color: white;
// }

li a:hover {
  color: orange !important;
}

.rq-p {
  background-color: orange !important;
  border-radius: 50px;
}

.rq-p:hover {
  color: white;
}

// HOME SECTION

.con {
  position: relative;
  width: 100%;
  height: 75vh;
}

.arrow-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.arr_right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.arr_right,
.arr_left {
  height: 2.5rem;
  top: 50%;
  z-index: 4;
}

.paragraph-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paragraph-content {
  text-align: center;
}

.slide-button {
  z-index: 10;
  background-color: rgb(245, 167, 20);
  height: auto;
  width: auto;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  text-align: center;
  line-height: 56px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 20px;
  padding-left: 44px;
  border-radius: 25px;
  padding-right: 44px;
  backdrop-filter: none;
  filter: none;
  transform-origin: 50% 50%;
  opacity: 1;
  transform: translate(0px, 0px);
  visibility: visible;
  border-width: 0px;
}

.home-i1 {
  width: 500px;
  height: 455px;
  object-fit: contain;
}

.home-i2 {
  width: 547px;
  height: 498px;
  object-fit: contain;
}

.home-i3 {
  width: 1024px;
  height: 128px;
  object-fit: contain;
}

.home-p-anim {
  display: block;
  // font-size: 2rem;
  // font-weight: 700;
  // letter-spacing: 1.75rem;
  animation: moveToTop 1s ease-out;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.i1-anim {
  display: block;
  animation: moveToLeft 1s ease-out;
  // animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.i2-anim {
  display: block;
  animation: moveToRight 1s ease-out;
  // animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.item {
  width: 263px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 30px;
  background-color: #f5f5f5;
}

img {
  height: 25vh;
}

// h6 {
//   color: #383a3d;
//   font-family: 'Fira Sans', sans-serif;
//   font-size: 18px;
//   line-height: 26px;
//   font-style: normal;
//   font-weight: 400;
//   letter-spacing: 0px;
//   text-transform: none;
// }

.qbutton {
  color: #ffffff;
  font-family: 'Fira Sans', sans-serif;
  border-color: #f5a714;
  font-size: 20px;
  line-height: 60px;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  background-color: #f5a714;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  letter-spacing: 0px;
  text-transform: none;
  border-width: 0px;
  padding-left: 55px;
  padding-right: 55px;
  text-decoration: none;
}

.qbutton:hover {
  color: white;
  background-color: orangered;
}

.l-i-img {
  width: 104px;
  height: 104px;
}

.co {
  height: 75vh;
  width: 100%;
  padding: 120px;
}

.clip-image {
  clip-path: polygon(57% 14%, 100% 0, 100% 100%, 0% 100%);
  // clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-info {
  background-color: blue;
}

.bg-secondary {
  background-color: gray;
}

.merge {
  margin-top: 0;
  margin-bottom: 0;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container img {
  cursor: pointer;
  margin: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal img {
  max-width: 80%;
  max-height: 80%;
}

.modal .prev,
.modal .next {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
}

.modal .prev {
  left: 10px;
}

.modal .next {
  right: 10px;
}

.modal .close {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
}

@media (max-width: 991px) {
  .paragraph-container {
    padding: 0 20px;
  }
}

@media (max-width: 767px) {
  .paragraph-content {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1199px) {
  .progress-container {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .progress-container {
    margin-top: 0;
  }

  .col-lg-6 {
    margin-bottom: 30px;
  }
}

.small-text {
  font-size: 24px;
}

.large-text {
  font-size: 48px;
}

.my-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #F5A714;
  color: #fff;
  border-radius: 50px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #CD1133;
}

.progress-container {
  padding: 20px;
  background-color: #F9F9F9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  margin-bottom: 10px;
}

.progress-title {
  display: flex;
  justify-content: space-between;
}

.progress-title-text {
  color: #383a3d;
}

.progress-number {
  color: #F5A714;
  font-size: 18px;
}

.progress-content {
  height: 5px;
  background-color: #e9e9e9;
}

.progress-inner {
  height: 5px;
  background-color: #F5A714;
}

hr {
  border: none;
  border-top: 1px solid #e9e9e9;
  margin-top: 20px;
  margin-bottom: 20px;
}

.clip-art-2 {
  padding: 20px;
  background-color: #f5f5f5;
}

.icon_title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.icon_text_inner p {
  margin-bottom: 0;
}

.icon_text_holder {
  padding-left: 20px;
}

.l-i-img {
  max-width: 80px;
  height: auto;
}

@media (max-width: 992px) {
  .clips-res {
    // padding: 100px;
    width: 100%;
  }

  .clips-res,
  .li-i-img {
    // width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    /* Set the columns for the image and paragraph */
    gap: 10px;
  }

  .icon_text_inner {
    text-align: left;
    // flex: 1;
  }
}

@media (max-width: 750px) {
  .clips-res {
    margin: 0;
    padding: 0;
    // width: 100%;
  }

  .clips-res,
  .li-i-img {
    // width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    /* Set the columns for the image and paragraph */
    gap: 10px;
  }

  .icon_text_inner {
    text-align: left;
    // flex: 1;
  }
}




// BORDER SHAPES

.clip-art {
  width: 100%;
  height: 75vh;
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 75%, 100% 100%, 27% 78%, 0 100%, 0% 43%, 0 0);
  background-color: aqua;
}

.clip-art-1 {
  width: 100%;
  height: 100vh;
  clip-path: polygon(75% 23%, 100% 0, 100% 100%, 0 100%, 0 0);
  background-color: skyblue;
}

// .clip-art-2 {
//   clip-path: polygon(30% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
//   width: 100%;
//   height: 130vh;
//   background-color: pink;
//   padding: 150px;
// }

.conti {
  position: relative;
  width: 100%;
  height: 130vh;
  /* Adjust the height as per your requirements */
  background-color: pink;
  /* Set a background color for visualization */
  clip-path: polygon(30% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
  padding: 150px;
  margin-right: 0;
  margin-left: 0;
}

@media (max-width: 768px) {
  .container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    /* Adjusted clip-path shape for smaller screens */
  }
}

// .clip-art-2 {
//   clip-path: polygon(30% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
//   width: 100%;
//   height: 130vh;
//   background-color: pink;
//   padding: 150px;
// }

// @media (max-width: 768px) {
//   .clip-art-2 {
//     clip-path: polygon(20% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
//     padding: 200px;
//   }
// }

// @media (max-width: 480px) {
//   .clip-art-2 {
//     clip-path: polygon(10% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
//     padding: 250px;
//   }
// }

.clip-art-3 {
  // clip-path: polygon(75% 100%, 100% 70%, 100% 0%, 0 0, 0 70%);
  width: 100%;
  height: 75vh;
  background-color: pink;
  padding: 150px;
}

@media (max-width: 768px) {
  .clip-art-3 {
    clip-path: polygon(75% 100%, 100% 70%, 100% 0%, 0 0, 0 70%);
    padding: 100px;
    width: 100%;
    height: 75vh;
  }
}

@media (max-width: 480px) {
  .clip-art-3 {
    clip-path: polygon(75% 100%, 100% 70%, 100% 0%, 0 0, 0 70%);
    padding: 50px;
  }
}

.ph {
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 565px;
  height: 365px;
  object-fit: contain;
}

@media (max-width: 990px) {
  .average {
    width: 100%;
    // float: none;
  }
}

@media (max-width: 765px) {
  .average {
    width: 100%;
  }
}

@media (max-width: 995px) {
  .swiper-slide {
    width: 100%;
    object-fit: contain;
    gap: 50px;
  }
}

@media (max-width: 767px) {
  .ave {
    font-size: calc(1.375rem + 1.5vw);
  }
}


.ABC {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  clip-path: polygon(73% 33%, 100% 0, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 0);
}

.ABCD {
  width: 120px;
  height: 120px;
}

// SERVICES



// INPUTS

.input,
.hs-input {
  width: 458px;
  height: 40px;
  border: none;

  .invalid {
    width: 1024px;
    height: 40px;
  }

  .is-placeholder {
    width: 1024px;
    height: 40px;
  }

  .hs-fieldtype-textarea {
    width: 1024px;
    height: 40px;
  }
}

.sImg {
  width: 26px;
  height: 26px;
  // padding: 5px;
  margin: 5px;
}
